// Example tablesorter styles
.tablesorter {
	thead {
		th {
			&:not(.no-sort) {
				cursor: pointer;

				&.active {
					color: white;
					background-color: steelblue;
				}

				&:before {
					content: "";
				}

				&.desc:before {
					content: "▼";
					padding-right: 4px;
				}

				&.asc:before {
					content: "▲";
					padding-right: 4px;
				}
			}
		}
	}
}
